* {
   box-sizing: border-box;
}
body {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 900;
   height: 100vh;
   font-family: sans-serif;
   flex-direction: column;
   background-color: #ddd;
}
h2 {
   position: absolute;
   top: 20px;
}
.range-container {
   position: relative;
}
input[type='range'] {
   width: 300px;
   margin: 20px 0;
}
input[type='range'] + label {
   position: absolute;
   background-color: #fff;
   top: -25px;
   left: 110px;
   width: 80px;
   padding: 5px 0;
   text-align: center;
}